@media(max-width: 768px){
    body{
        padding: 15px;
    }
    
    .cabecalho .titulo{
        font-size: 25px;
    }

    .slider{
        gap: 10px;
    }
}

@media(max-width: 425px){
    body{
        background-position: center;
        overflow: hidden;
        padding: 30px;
    }

    .cabecalho{
        padding-top: 0;
    }

    .cabecalho .titulo{
        font-size: 18px;
        text-align: center;
        padding: 0;
    }

    .slider{
        position: relative;
        flex-direction: column-reverse;
        margin: 15px 0;
    }
    .btn-seta{
        position: absolute;
        bottom: -18%;
        z-index: 2;
        margin-top: 10px;
    }
    #btn-avancar{
        right: 20%;
    }
    #btn-voltar{
        left: 20%;
    }

    .cartao {
        perspective: 1000px; /* Adiciona a perspectiva para o efeito 3D */
    }
    
    .carta-virada {
        transform-origin: center; /* Define o ponto de virada */
        transition: transform 0.6s ease;
    }
    
    .cartao.virar {
        transform: rotateY(180deg); /* Altera para efeito flip */
        transition: transform 0.6s ease;
    }

    .fundo-carta {
        backface-visibility: hidden;  /* Esconde o lado inverso da carta */
    }
}